// Example Stylus file

@import 'helpers'
@import 'demo'

// Main

body, html
  height 100%

body
  font normal 0.75em sans-serif
  text-align center
  padding-top 60px

p
  margin-bottom 1em

a
  color #000

h3
  margin-bottom 1em

#content
  padding 50px

.flat_bottom
  padding-bottom 0px
.expand_bottom
  padding-bottom 9px
  
.footer
  margin-top 20px
  padding 35px 0 36px
  border-top 1px solid #eee

.confbtn
  width 30px
  padding 1px
  margin 1px

.confcol
  width 156px
  
.fixed
  position fixed
  bottom 0px
  right 0px