.row-fluid  
  .span3
    btn.confbtn.btn.btn-danger.pop(id="{{id}}-rm",data-content="{{content}})
      i.icon-trash.icon-white
    //- btn.confbtn.btn.btn-success(id="{{id}}-add")
    //-   i.icon-plus-sign.icon-white  
  //- .span9
  //-   a.btn.btn-info.confbtn.pop(title="id",data-content="{{id}}") id
  //-   {{#buttons}}
  //-   {{^on}}
  //-   a.btn.btn-info.confbtn.pop(title="{{title}}",data-content="{{content}}") {{title}}
  //-   {{/on}}
  //-   {{#on}}
  //-   a.btn.btn-success.confbtn.pop(title="{{title}}",data-content="{{content}}") {{title}}
  //-   {{/on}}
  //-   {{/buttons}}
  //-   .hide
  //-     {{scontent}}