/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#demo{border:1px solid #ccc;width:700px;text-align:left;margin:50px auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
#demo h3{margin:0;font-size:1em;font-weight:normal}
#demo h5{margin:0;padding:5px 0;color:#666;font-weight:normal;font-size:.8em}
#demo #myMessage,#demo #chatlog{border:none;-webkit-box-shadow:inset 0 0 2px #777;-moz-box-shadow:inset 0 0 2px #777;box-shadow:inset 0 0 2px #777;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
#demo #myMessage{width:690px;padding:5px;margin:0}
#demo #chatlog{width:700px;background-color:#fff;margin:5px 0;}
#demo #chatlog p{font-size:.9em;color:#000a68;padding:3px 9px;margin:0}
#demo #chatlog p:first-child{padding-top:9px}
#demo #chatlog p:last-child{padding-bottom:9px}
#demo #chatlog span.time{color:#666;float:right;width:70px;text-align:right;font-size:.7em}
body,html{height:100%}
body{font:normal 1em sans-serif;background-color:#fff;background-image:-webkit-gradient(linear,left top,left bottom,from(#eee),to(#fff));background-image:-moz-linear-gradient(top,#eee,#fff);text-align:center}
p{margin-bottom:1em}
a{color:#000a68}
h1{font-size:1.5em;font-weight:normal;margin:1.5em;color:#333;text-shadow:1px 1px 2px #fff}
#content{padding:50px}
