!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="#")
            | Orbit Measure          
          ul.nav
            li.active
              a(href="#")
                | Home
            li
              a(href="#Graphs")
                | Graphs
    .container
      .row-fluid
        .span3.columns
          include config
        .span9.columns
          h3 Experiments
          #flash.fixed
          include table
      footer.footer