.row-fluid
  .label.span7 bloksize:
  input.span3(type="text", name="bloksize", value="256", placeholder="ARQ block size [0..(ARQ windows size/2)] (256)", title="ARQ block size [0..(ARQ windows size/2)] (256)")
.row-fluid
  .label.span7 rtmorx:
  input.span3(type="text", name="rtmorx", value="1000", placeholder="RX retry timeout [] (1000)", title="RX retry timeout [] (1000)")
.row-fluid
  .label.span7 ackproctime:
  input.span3(type="text", name="ackproctime", value="0", placeholder="ACK proc time [] (0)", title="ACK proc time [] (0)")
.row-fluid
  .label.span7 wsize:
  input.span3(type="text", name="wsize", value="1024", placeholder="ARQ window size [0..1024] (1024)", title="ARQ window size [0..1024] (1024)")
.row-fluid
  .label.span7 blockltm:
  input.span3(type="text", name="blockltm", value="5000", placeholder="ARQ block lifetime [] (5000)", title="ARQ block lifetime [] (5000)")
.row-fluid
  .label.span7 sltmo:
  input.span3(type="text", name="sltmo", value="10000", placeholder="Sync loss timeout [] (10000)", title="Sync loss timeout [] (10000)")
.row-fluid
  .label.span7 rtmotx:
  input.span3(type="text", name="rtmotx", value="1000", placeholder="TX retry timeout [] (1000)", title="TX retry timeout [] (1000)")
.row-fluid
  .label.span7 rxpurgetmo:
  input.span3(type="text", name="rxpurgetmo", value="5000", placeholder="RX purge timeout [] (5000)", title="RX purge timeout [] (5000)")
.row-fluid
  .label.span7 dlvrorder:
  input.span3(type="text", name="dlvrorder", value="true", placeholder="Delivery in order: true/false (true)", title="Delivery in order: true/false (true)")
.row-fluid
  .label.span7 txackdelay:
  input.span3(type="text", name="txackdelay", value="100", placeholder="Tx ACK delay [] (100)", title="Tx ACK delay [] (100)")
