h3 Configuration
#accordion.accordion
  .accordion-group#orbitconf        
    .accordion-heading
      a.accordion-toggle(data-toggle="#collapse0", data-parent="#accordion", data-toggle="collapse", href="#collapse0")
        h6 Orbit Settings
    #collapse0.accordion-body.collapse
      .accordion-inner
        include orbitconf
  .accordion-group#physconf       
    .accordion-heading
      a.accordion-toggle(data-toggle="#collapse3", data-parent="#accordion", data-toggle="collapse", href="#collapse3")
        h6 Physical
    #collapse3.accordion-body.collapse
      .accordion-inner
        include physconf    
  .accordion-group#harqconf
    .accordion-heading(style="padding-bottom:8px")
      a.accordion-toggle(data-toggle="#collapse1", data-parent="#accordion", data-toggle="collapse", href="#collapse1", style="padding-bottom:0px")
        h6 HARQ
      span.label enable:
        input(type="checkbox", name="enable", value="false")
    #collapse1.accordion-body.collapse
      .accordion-inner
        include harqconf 
  .accordion-group#arqconf
    .accordion-heading(style="padding-bottom:8px")
      a.accordion-toggle(data-toggle="#collapse2", data-parent="#accordion", data-toggle="collapse", href="#collapse2", style="padding-bottom:0px")
        h6 ARQ
      span.label enable:
        input(type="checkbox", name="enable", value="false")
    #collapse2.accordion-body.collapse
      .accordion-inner
        include arqconf
  .accordion-group#ncconf
    .accordion-heading(style="padding-bottom:8px")
      a.accordion-toggle(data-toggle="#collapse4", data-parent="#accordion", data-toggle="collapse", href="#collapse4", style="padding-bottom:0px")
        h6 NC
      span.label enable:
        input(type="checkbox", name="enable", value="true", checked)
    #collapse4.accordion-body.collapse
      .accordion-inner
        include ncconf
  .accordion-group#iperfconf
    .accordion-heading(style="padding-bottom:8px")
      a.accordion-toggle(data-toggle="#collapse4", data-parent="#accordion", data-toggle="collapse", href="#collapse5", style="padding-bottom:0px")
        h6 IPERF
      span.label enable:
        input(type="checkbox", name="enable", value="true", checked)
    #collapse5.accordion-body.collapse
      .accordion-inner
        include iperfconf
  .accordion-group#uftpconf
    .accordion-heading(style="padding-bottom:8px")
      a.accordion-toggle(data-toggle="#collapse4", data-parent="#accordion", data-toggle="collapse", href="#collapse6", style="padding-bottom:0px")
        h6 UFTP
      span.label enable:
        input(type="checkbox", name="enable", value="true", checked)
    #collapse6.accordion-body.collapse
      .accordion-inner
        include uftpconf
button.btn#queueBtn
  | Queue Experiment

