.row-fluid
  .label.span7 mimoul:
  input.span3(type="text", name="mimoul", value="false", placeholder="MIMO HARQ support: true/false (IGNORED - mimo support not available for this BS)", title="MIMO HARQ support: true/false (IGNORED - mimo support not available for this BS)")
.row-fluid
  .label.span7 uldelay:
  input.span3(type="text", name="uldelay", value="2", placeholder="Frame offset of UL ACK delay wrt to UL Burst [2,3] (3)", title="Frame offset of UL ACK delay wrt to UL Burst [2,3] (3)")
.row-fluid
  .label.span7 dldelay:
  input.span3(type="text", name="dldelay", value="1", placeholder="Frame offset of DL ACK delay wrt to DL Burst [1,2,3] (1)", title="Frame offset of DL ACK delay wrt to DL Burst [1,2,3] (1)")
.row-fluid
  .label.span7 pdusn:
  input.span3(type="text", name="pdusn", value="true", placeholder="PDU SN extended subheader reordering enabled: true/false (true)", title="PDU SN extended subheader reordering enabled: true/false (true)")
.row-fluid
  .label.span7 burst:
  input.span3(type="text", name="burst", value="0x11", placeholder="Maximum number of HARQ bursts per frame [0..255] (17)", title="Maximum number of HARQ bursts per frame [0..255] (17)")
.row-fluid
  .label.span7 mret:
  input.span3(type="text", name="mret", value="0", placeholder="Maximum number of retransmissions [0..255] (4)", title="Maximum number of retransmissions [0..255] (4)")
