.row-fluid
  .label.span7 packet length (bytes):
  input.span3(type="text", name="l")
.row-fluid
  .label.span7 bandwidth (e.g. 5m):
  input.span3(type="text", name="b")
.row-fluid
  .label.span7 run time (s):
  input.span3(type="text", name="t")
.row-fluid
  .label.span7 report interval (s):
  input.span3(type="text", name="i")
.row-fluid
  .label.span7 sender interface:
  input.span3(type="text", name="sender_if")
.row-fluid
  .label.span7 receiver interface:
  input.span3(type="text", name="receiver_if")
