.row-fluid
  .label.span7 # rounds [k]:
  input.span3(type="text", name="k")
.row-fluid
  .label.span7 round interval (ns) [t]:
  input.span3(type="text", name="t")
.row-fluid
  .label.span7 minimum number of blocks [n]:
  input.span3(type="text", name="n")
.row-fluid
  .label.span7 # redundancy packets [m]:
  input.span3(type="text", name="m")
.row-fluid
  .label.span7 # processes [p]:
  input.span3(type="text", name="p")
.row-fluid
  .label.span7 maximum pdu size (bytes):
  input.span3(type="text", name="u")
.row-fluid
  .label.span7 time limit (ns):
  input.span3(type="text", name="i")
.row-fluid
  .label.span7 size limit (ns):
  input.span3(type="text", name="h")
.row-fluid
  .label.span7 sender interface:
  input.span3(type="text", name="sender_if")
.row-fluid
  .label.span7 receiver interface:
  input.span3(type="text", name="receiver_if")