.row-fluid
  .label.span11 host:
.row-fluid
  input.span11(type="text", name="host", value="console.sb4.orbit-lab.org", placeholder="host", title="host")
//- .row-fluid
//-   .label.span11 nodes e.g. [1,2]:
//- .row-fluid
//-   input.span11(type="text", name="nodes", value="[1,2]", placeholder="nodes", title="nodes to run experiments")  
//- button.btn
//-   | Find Node

