.row-fluid
  .label.span7 bs_tx_power:
  input.span3(type="text", name="bs_tx_power", value="40", placeholder="bs_tx_power", title="bs_tx_power")
.row-fluid
  .label.span7 ulprof1:
  input.span3(type="text", name="ulprof1", value="13", placeholder="Uplink Modulation", title="Uplink Modulation (QPSK (CTC) 1/2)")
.row-fluid
  .label.span7 dlprof1:
  input.span3(type="text", name="dlprof1", value="13", placeholder="Downlink Modulation", title="Uplink Modulation (QPSK (CTC) 1/2)")
.row-fluid
  .label.span7 rf attenuation:
  input.span3(type="text", name="rf_att", value="0", placeholder="RF Attenuation", title="RF Attenuation")
