.row-fluid
  .label.span7 mtu (bytes):
  input.span3(type="text", name="mtu")
.row-fluid
  .label.span7 filesize (bytes):
  input.span3(type="text", name="size_by")
.row-fluid
  .label.span7 rate (kbps):
  input.span3(type="text", name="rate_kbps")
.row-fluid
  .label.span7 sender interface:
  input.span3(type="text", name="sender_if")
.row-fluid
  .label.span7 receiver interface:
  input.span3(type="text", name="receiver_if")
